<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>House Advisor</title>
</head>
<body>
	
	<a href="{% url "estates:list" %}"><h1>House Advisor!</h1></a>

	<h2>
		{% if user.is_authenticated %}
			<a href="{% url "estates:logout" %}">logout</a>
			{{ user.username }}
		{% else %}
			<a href="{% url "estates:authentication" %}">login</a>
		{% endif %}
	</h2>

	{% block login_content %}
	{% endblock login_content %}

	{% block content %}
		
	{% endblock content %}
	
</body>
</html>